$black: #000000;
$blue: #19A7CE;
$bluefort: #146C94;
$white: #F6F1F1;

@mixin Position_Section () {
    padding: 10px 40px;
}

@mixin flex($justify-content, $align-items, $flex-direction) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and dow)
@mixin MediumDevices() {
    @media (max-width: 768px) {
        @content;
    }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and down)
@mixin XLargeDevices() {
    @media (max-width: 1200px) {
        @content;
    }
}

// XX-Large devices (larger desktops, 1400px and up)